<div id="maniaxContaoJobsInfoPanel">
    <div class="tl_info maniax-wrapper">
        <div class="maniax-box">
            maniax-at-work.de Contao Jobs {{ version }}
        </div>
        <div class="maniax-box last">
            <a href="https://github.com/maniaxatwork/contao-jobs-bundle/issues" title="{{ 'MSC.MANIAX_CONTAO_JOBS.DASHBOARD.report_error'|trans({}, 'contao_default') }}" target="_blank">{{ 'MSC.MANIAX_CONTAO_JOBS.DASHBOARD.report_error'|trans({}, 'contao_default') }}</a> - <a href="https://github.com/maniaxatwork/contao-jobs-bundle/blob/master/README.md" title="{{ 'MSC.MANIAX_CONTAO_JOBS.DASHBOARD.documentation'|trans({}, 'contao_default') }}" target="_blank">{{ 'MSC.MANIAX_CONTAO_JOBS.DASHBOARD.documentation'|trans({}, 'contao_default') }}</a>
        </div>
    </div>
</div>
